<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body style="height:100vh;overflow:hidden;background:#272D4A;color:#F7F7F7;font-family:'ABeeZee',sans-serif;">
    <% if Current.user %>
      <div data-controller="command-palette">
        <%= render "shared/bottom_bar" %>
        <%= render "shared/command_palette" %>
      </div>
      <div style="position: fixed; top: 56px; left: 0; right: 0; bottom: 0; overflow: auto;">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
